:root {
  --nav-bar-height: 3.5rem;
}

html, body {
  scroll-behavior: smooth;
  margin: 0;
  box-sizing: border-box;
  font-family: '04b03', Arial, Helvetica, sans-serif;
  background: #8CCDC0 url("../img/bg.svg") 0px 0px/1008px 224px repeat scroll;
}

h1, h2, h3, h4, h5, h6 {
  display: flex;
  font-family: '04b30', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #FFF49A;
  margin: 0em;
  padding: 0em;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

.single-stroke {
  position: relative;
  background: transparent;
  z-index: 0;
}

.single-stroke::before {
  content: attr(data);
  position: absolute;
  left: 0em;
  -webkit-text-stroke: 0.4rem #f4A386;
  z-index: -1;
}

.hero-section {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: var(--nav-bar-height) auto auto auto;
  grid-gap: 1.5em;
  grid-template-areas: "top-nav       top-nav       top-nav       top-nav" "logo-blank    hero-logo     hero-about    about-blank" "sns-l-blank   sns-icons     sns-icons     sns-r-blank" "project-icon  project-icon  project-icon  project-icon";
}

.top-nav {
  grid-area: top-nav;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #333;
  z-index: 1;
}

.top-nav a {
  display: flex;
  font-size: 1.2em;
  width: var(--nav-bar-height);
  height: var(--nav-bar-height);
  color: #f2f2f2;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.3s;
}

.top-nav a:hover {
  background-color: #ddd;
  color: black;
}

.dropdownn-nav {
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: #333;
  height: 0%;
  width: 100%;
  top: var(--nav-bar-height);
  z-index: 1;
  transition: 0.3s;
}

.dropdownn-nav a {
  display: flex;
  color: #ddd;
  height: var(--nav-bar-height);
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  text-decoration: none;
  opacity: 0;
  transition: 0.3s;
}

.dropdownn-nav a:hover {
  background-color: #ddd;
  color: black;
}

.hero-logo {
  grid-area: hero-logo;
  display: block;
  margin-top: auto;
  margin-left: auto;
  width: 26em;
}

.hero-about {
  grid-area: hero-about;
  width: 26em;
  margin-top: auto;
}

.hero-about h1, .hero-about h2 {
  margin-bottom: 1rem;
}

.hero-about .hero-description {
  color: #FFF49A;
  font-size: 1.1em;
  text-shadow: 1px 1px #f4A386;
  padding-bottom: 0.5rem;
}

.hero-about .skill-icons {
  display: flex;
  flex-wrap: wrap;
  width: 26em;
  justify-self: center;
  justify-content: flex-start;
}

.hero-about .skill-icons .skill-icon-container {
  height: 1.6em;
  padding-bottom: 0.4em;
  padding-right: 0.4em;
  position: relative;
}

.hero-about .skill-icons .skill-icon-container .under {
  height: 1.6em;
}

.hero-about .skill-icons .skill-icon-container .over {
  height: 1.6em;
  position: absolute;
}

.sns-btns {
  grid-area: sns-icons;
  display: flex;
  width: 52em;
  justify-self: center;
  justify-content: space-between;
}

.sns-btns .sns-icon-container {
  width: 6em;
  position: relative;
}

.sns-btns .sns-icon-container .over {
  width: 6em;
  position: absolute;
}
